dataset/
dataset_realtime/
first_results/
inceptionv3_weights/
last_results/
models_TL/
test_video/
sliding_windows_result/
images_sw/
last_results/
detected_video.avi
video_input.mp4
video_input_1.mp4
RealTimeMultiLabelClassifier/retinanet_checkpoints/
RealTimeMultiLabelClassifier/fine_tuning_checkpoints/
RealTimeMultiLabelClassifier/fine_tuning_configs/
real_time_results/
final_realtime_detected_video.avi